* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 400px;
  width: 300px;
}
header {
  background-color: black;
  color: white;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 14px;
    padding-left: 14px;
}
.btn-container {
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.btn-container label {
  font-weight: bold;
  font-size: 16px;
}
main {
  padding-right: 14px;
    padding-left: 14px;
}


